{{!-- {{ember-youtube ytid="oVcG9lpZV24" delegate=this delegate-as="leftDeck"}}
<button {{action "togglePlay" target=leftDeck}}>
    {{#if leftDeck.isPlaying}}Pause{{else}}Play{{/if}}
</button> --}}

{{outlet}}
